/* ========================================================
base.css - サイト全体のベーススタイル
======================================================== */
/* reset
-------------------------------------------------------- */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
#{$img},
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
}

ol,
ul {
	list-style: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}
/* root
-------------------------------------------------------- */
body,
html {
	margin: 0;
}

html {
	font-size: 10px;
}

body {
  position: relative;
	color: $color01;
	@include font1();
	font-weight: 500;
  font-style: normal;
	word-break: break-all;
	letter-spacing: 0.2px;
}

#{$img}{
	display: block;
	margin: 0 auto;
	vertical-align: middle;
	max-width: 100%;
}

#{$img}[src$=".svg"] {
	width: 100%;
	height: auto;
}
/* sp */
@include mq(sp) {
	body,
	html {
		overflow-x: hidden;
	}

	html {
		font-size: 7.5pt; //10px
	}

	body {
		font-size: 1.4rem;
		-webkit-overflow-scrolling: touch;
	}

	#{$img}:not([width]) {
		height: auto;
		max-width: 100%;
	}
}
/* pc */
@include mq() {
	body {
		margin: 0 auto;
		font-size: 1.6rem;
		min-width: 960px;
	}
}
/* ipad */
@include mq(md-ipad) {
	body {
		font-size: 1.5rem;
	}
}
/* link
-------------------------------------------------------- */
a {
	color: $white;
	text-decoration: none;
}

a:active,
a:focus,
a:hover {
	text-decoration: none;
  opacity: 0.6;
}
.clearfix:before,
.clearfix:after
 {
  display: table;
  content: "";
}
.clearfix:after
{
  clear: both;
}
